<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Map</key>
	<dict>
		<key>MapPosition</key>
		<dict>
			<key>X</key>
			<integer>4</integer>
			<key>Y</key>
			<integer>50</integer>
		</dict>
		<key>CellSize</key>
		<dict>
			<key>X</key>
			<integer>10</integer>
			<key>Y</key>
			<integer>10</integer>
		</dict>
		<key>WidthCells</key>
		<integer>56</integer>
		<key>HeigthCells</key>
		<integer>23</integer>
	</dict>
	<key>PacMan</key>
	<dict>
		<key>HeigthCells</key>
		<integer>3</integer>
		<key>WidthCells</key>
		<integer>3</integer>
		<key>Position</key>
		<dict>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<key>Dirction</key>
		<integer>0</integer>
	</dict>
	<key>Monsters</key>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>MonsterArray</key>
		<array>
			<dict>
				<key>WidthCells</key>
				<integer>0</integer>
				<key>HeigthCells</key>
				<integer>0</integer>
				<key>Position</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Dirction</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>WidthCells</key>
				<string></string>
				<key>HeigthCells</key>
				<string></string>
				<key>Position</key>
				<dict>
					<key>X</key>
					<string></string>
					<key>Y</key>
					<string></string>
				</dict>
				<key>Dirction</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>Beans</key>
	<dict>
		<key>Score</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
